os:
  - linux
sudo: required
dist: trusty
language: node_js
node_js:
  - "7"
before_install:
  - sudo apt-get install -y chromium-browser
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - npm install
script:
  - npm run lint
  - npm run test
notifications:
  email: false
